<a href="https://colab.research.google.com/github/ruthujapatil/ruthujapatil/blob/main/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cars=pd.read_csv('/content/Cars.csv')

In [4]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [12]:
from scipy import stats
import scipy
#Probability of MPG>38
1-stats.norm.cdf(38,
loc=cars.MPG.mean(),
scale=cars.MPG.std())

0.34759392515827137

In [13]:
#Probability of MPG<40
stats.norm.cdf(40,
loc=cars.MPG.mean(),
scale=cars.MPG.std())

0.7293498762151609

In [14]:
#Probability of 20<MPG<50
stats.norm.cdf(0.50,cars.MPG.mean(),cars.MPG.std())-stats.norm.cdf(0.20,cars.MPG.mean(),cars.MPG.std())

1.2430968797327491e-05