<a href="https://colab.research.google.com/github/ruthujapatil/ruthujapatil/blob/main/Customer_order.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy 
from scipy import stats
from scipy.stats import chi2_contingency

In [ ]:
order=pd.read_csv('/content/Costomer+OrderForm.csv')
order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
x=np.array([[271,267,269,280],[20,33,31,20]])
x

array([[271, 267, 269, 280],
       [ 20,  33,  31,  20]])

In [ ]:
chi2_contingency(x)

Chi2ContingencyResult(statistic=5.7692976598937635, pvalue=0.12339005589949173, dof=3, expected_freq=array([[265.58942065, 273.80352645, 273.80352645, 273.80352645],
       [ 25.41057935,  26.19647355,  26.19647355,  26.19647355]]))

Since p (0.123) > Î± (0.05) Accept Null Hypothesis